* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    height: 100px;
    width: 100%;
    background-color: #3347B0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 75px;
    width: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 96px;
    gap: 11px;
}

.logo img {
    height: 100%;
}

.logo h1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.botao-sair {
    display: none;
    height: 42px;
    margin-right: 96px;
}

.botao-sair.active {
    display: flex;
}

.botao-sair h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.botao-voltar {
    display: none;
    height: 42px;
    margin-right: 96px;
}

.botao-voltar.active {
    display: flex;
}

.botao-voltar h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container-cursos {
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 78px;
}

.container-cursos.active {
    display: flex;
}

.anuncio-curso {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin-left: 96px;
    text-align: left;
}

.anuncio-curso h1 {
    width: 100%;
}

.cursos {
    margin-right: 96px;
}

.ds,
.redes {
    width: 400px;
    height: 200px;
    background-color: #3347B0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    color: white;
    box-shadow: 12px 12px 4px #3347B080;
    gap: 20px;
}

.ds {
    margin-bottom: 25px;
}

.redes {
    margin-top: 25px;
}

.anuncio-curso h1 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.anuncio-curso h1 a {
    font-weight: 700;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #3347B0;
}

footer {
    height: 140px;
    width: 100%;
    background-color: #3347B0;
    margin-top: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.contatos h1 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.contatos .email,
.telefone,
.local {
    display: flex;
    gap: 24px;
}

.contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sociais h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.redes-sociais .youtube,
.twitter,
.instagram,
.facebook {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding-bottom: 62px;
}

.container-cursos h1 {
    font-size: 57.3px;
    margin-bottom: 77.87px;
}

.container-curso {
    display: none;
    width: 100%;
    flex-wrap: wrap;
}

.container-curso.active {
    display: flex;
}

.menu-curso {
    height: 50px;
    width: 100%;
    background-color: #BCC2E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 96px;
}

.status-curso select {
    color: #3347B0;
    font-weight: 500;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: #BCC2E5;
    width: 150px;
}

.status-curso select option {
    background-color: #3347B0;
    color: white;
}

.legenda-cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3347B0;
    font-size: 12px;
    gap: 24px;
}

.cursando, .finalizado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.indicador-cursando, .indicador-finalizado {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.indicador-cursando {
    background-color: #3347B0;
}

.indicador-finalizado {
    background-color: #E5B657;
}

.container-curso {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 43px;
}

.container-curso h1 {
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    color: #3347B0;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.alunos-curso {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
}

.aluno {
    height: 300px;
    width: 201px;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.25);
}

.aluno h1 {
    font-size: 18px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.aluno img {
    width: 100%;
    height: 200px;
}

.cursando-curso-aluno {
    background-color: #3347B0;
}

.finalizado-curso-aluno {
    background-color: #E5B657;
}

.container-aluno {
    display: none;
}

.container-aluno.active {
    display: flex;
}